platform=xilinx_u200_xdma_201830_2
debug=1
jobs=16
save-temps=1

[profile]
data=all:all:all           # Monitor data on all kernels and CUs
stall=all:all              # Monitor stalls for all CUs of all kernels
exec=all:all               # Monitor execution times for all CUs

[connectivity]
# one CU for predict_one_block kernel, called predict_1
nk=predict_one_block:5
sp=predict_one_block_1.features:DDR[0]
sp=predict_one_block_1.predictions:DDR[0]

sp=predict_one_block_2.features:DDR[0]
sp=predict_one_block_2.predictions:DDR[0]

sp=predict_one_block_3.features:DDR[1]
sp=predict_one_block_3.predictions:DDR[2]

sp=predict_one_block_4.features:DDR[3]
sp=predict_one_block_4.predictions:DDR[3]

sp=predict_one_block_5.features:DDR[3]
sp=predict_one_block_5.predictions:DDR[3]

slr=predict_one_block_1:SLR0
slr=predict_one_block_2:SLR0
slr=predict_one_block_3:SLR1
slr=predict_one_block_4:SLR2
slr=predict_one_block_5:SLR2