*/*/*.cpp
*/*/*.h
*/*/BOOT.BIN
*/*/predict.*.orig
*/*/predict.bit
*/*/predict.xtasks.config
*/*/zcu102
*bin
code
*dm
*log
model
output
predict
predict-d
predict_fp
predict_fx
predict-i
predict-p
sim
sim_*
*.dSYM
